// FONT-FAMALY
$font-f-logo: 'Rufina', serif;
$font-f-PD: 'Playfair Display', serif;
$font-f-text: 'PT Sans', sans-serif;

// FONT-COLOR
$font-c-white: #fff;
$font-c-gray: #969696;
$font-c-light-gray: #D0D0D0;

// FONT-WIDTH
$font-w-bold: 700;
$font-w-regular: 400;

// FONT-SIZE
$font-s-64px: 64px;
$font-s-36px: 36px;
$font-s-24px: 24px;
$font-s-22px: 22px;
$font-s-18px: 18px;
$font-s-16px: 16px;
$font-s-14px: 14px;

// FONT-LINE-HEIGHT
$font-lh-mainLogo: 79px;
$font-lh-title: 48px;
$font-lh-logo: 44.5px;
$font-lh-footerTitle: 32px;
$font-lh-text: 24px;
$font-lh-21px: 21px;
$font-lh-nav: 18.10px;
$font-lh-15px: 15.5px;

// FONT-LETTER-SPACING
$font-ls-btn: .1em;

// BACKGROUND-COLOR
$color-bg-card: #191B1C;
$color-bg-black: #0F0F0F;
